# Desenvolvimento (SQLite local)
NODE_ENV=development
PORT=3333

# Producao (Supabase/Postgres)
# Use a Connection String do Supabase (URI)
DATABASE_URL=postgresql://postgres:senha@db.xxxxx.supabase.co:5432/postgres

# SSL para conexao em producao
# Em Supabase normalmente deve ficar true
DB_SSL=true
